<a href="https://colab.research.google.com/github/mizykk/Basic/blob/master/pd_read_html().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pd.read_table( )

pandas.read_html(io, match='.+', flavor=None, header=None, index_col=None, skiprows=None, attrs=None, parse_dates=False, tupleize_cols=None, thousands=', ', encoding=None, decimal='.', converters=None, na_values=None, keep_default_na=True, displayed_only=True)

In [0]:
import pandas as pd

pd.read_html을 이용하면 html에 있는 table속성에 해당하는 값을 가져올 수 있다.  
이는 웹페이지에 있는 표를 불러오겠다는 의미이다.  

예제 URL : https://mizykk.tistory.com/39. 
예제 페이지에는 3개의 표가 있다.

### 표 가져오기

In [0]:
table = pd.read_html('https://mizykk.tistory.com/39', header=0, encoding='utf-8')

- header = int or list-like or None, optional  
: header로(열 이름) 쓸 행을 지정할 수 있다.  
- encoding = str or None, optional  
: 인코딩 설정. 한글이 깨져서 나올 때 encoding = 'utf-8'으로 설정하면 된다.

In [3]:
table

[    과일  색상     가격
 0   사과  빨강  1500원
 1   사과  초록  1000원
 2  바나나  노랑  3000원
 3  바나나  초록  2000원,      국가   도시     언어
 0    한국   서울    한국어
 1    미국   뉴욕     영어
 2  이탈리아  피렌체  이탈리아어
 3   프랑스   파리     불어,   한국어        영어
 0  1월   January
 1  2월  Feburary
 2  3월     March,                    pd.read_table 예제 (0)    20:48:47
 0  [Python] 위경도 거리 구하기 :: haversine (0)  2020.01.28]

이때 리스트 안에 데이터프레임이 들어있는 형태로 html에 있는 모든 table을 한번에 가져오게 되므로, 인덱스를 이용하여 원하는 표를 개별 데이터프레임으로 지정해주면 된다.

In [4]:
table[1]

     국가   도시     언어
0    한국   서울    한국어
1    미국   뉴욕     영어
2  이탈리아  피렌체  이탈리아어
3   프랑스   파리     불어

### 원하는 내용이 들어있는 표만 가져오기

In [5]:
table2 = pd.read_html('https://mizykk.tistory.com/39', match = '국가', header=0, encoding='utf-8')
table2

[     국가   도시     언어
 0    한국   서울    한국어
 1    미국   뉴욕     영어
 2  이탈리아  피렌체  이탈리아어
 3   프랑스   파리     불어]

* match : str or compiled regular expression, optional
: 정규표현식 또는 문자열을 이용해서 전체 테이블을 가져오지말고 원하는 내용이 들어있는 테이블만 가져오게 함.

In [6]:
table2[0]

     국가   도시     언어
0    한국   서울    한국어
1    미국   뉴욕     영어
2  이탈리아  피렌체  이탈리아어
3   프랑스   파리     불어

이때 html에서 하나의 표만 불러왔더라도 리스트안에 데이터프레임이 들어있는 형태이다. 따라서 table을 데이터프레임으로 활용하려면 인덱스로 불러주어야한다.

[reference](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).